@import './../lib/theme';

.p-tabview {
  margin: auto;
  .p-tabview-nav {
    display: flex;

    .p-tabview-ink-bar {
      background-color: $color-secondary-2-3;
    }

    .p-unselectable-text {
      margin: auto;
      
      &.p-tabview-selected.p-highlight {
        .p-tabview-nav-link {
          background-color: rgba($color-secondary-2-3, 0.2);
          cursor: default;          
          .p-tabview-title {
            color: $color-primary-4;
  
          }
        }

      }

      .p-tabview-nav-link {
        font-family: "Questrial", sans-serif;
        font-weight: bold;

        

      }
    }
  }

  .p-tabview-panels {
    .p-tabview-panel {
      margin: auto;
      display: flex;

      .tab-panel-container {
          width:inherit;
          margin: auto;
      }
    }
  }
}
